.bg-header{
    background-color: #264653;
}
.f-bike{
    filter: grayscale(100%);
}
button{
    background-color: #E76F51;
    padding: 5px 25px;
    border: 0;
    border-radius: 5px;
    color: white;
}
.fa-star {
 color: #E76F51;
}
.text-color{
    color: #E76F51;
}
footer{
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: black;

}

